.main {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}
.main .form {
  background-color: #ebebeb;
  padding: 30px 20px;
  border-radius: 10px;
}
.main .form h2 {
  font-weight: 400;
}
.main .form form {
  margin-top: 15px;
  position: relative;
}
.main .form form div {
  position: relative;
  margin-bottom: 15px;
}
.main .form form div label {
  display: block;
  font-size: 0.8em;
  margin-bottom: 8px;
}
.main .form form div span {
  position: absolute;
  top: calc(50% + 2px);
  left: 8px;
  color: dimgray;
}
.main .form form div input {
  border: 1px solid gray;
  width: 100%;
  padding: 12px;
  padding-left: 32px;
  border-radius: 5px;
}
.main .form form div input:focus {
  outline: 2px solid blue;
}
.main .form form button {
  display: inline-flex;
  align-items: center;
  background-color: royalblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  gap: 10px;
  transition: all 0.5s ease;
  width: 100%;
  border: none;
  margin-top: 5px;
  justify-content: space-between;
  padding: 10px 15px;
}
.main .form form button:hover {
  background-color: mediumblue;
}

@media screen and (min-width: 768px) {
  .main {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .main header {
    width: 320px;
  }
}
