$lightgray: #ebebeb;
$shadow: #80808056; 

@mixin button {
  display: inline-flex;
  align-items: center;
  background-color: royalblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  gap: 10px;
  transition: all .5s ease;
}

@mixin link {
  text-decoration: none;
  color: blue;
  
  &:hover {
    text-decoration: underline;
  }
}

@mixin loading {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-top: 2px solid white;
  animation: spin .5s ease infinite;
}

@mixin anchor {
  text-align: center;
  font-size: 0.85em;
  margin-top: 7px;
  
  a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

@mixin form {
  background-color: $lightgray;
  padding: 30px 20px;
  border-radius: 10px;
  
  h2 {
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  form {
    position: relative;
    
    div {
      height: 70px;
      position: relative;
      margin-bottom: 20px;
      
      label {
        display: block;
        font-size: 0.8em;
        margin-bottom: 8px;
      }
      
      span {
        position: absolute;
        top: 50%;
        left: 8px;
        color: dimgray;
      }
      
      input, select {
        border: 1px solid gray;
        width: 100%;
        padding: 12px;
        padding-left: 32px;
        border-radius: 5px;
      }
      
      input:focus, select:focus {
        outline: 2px solid blue;
      }
      
      .invalid {
        outline: 2px solid #ff604f;
        border: none;
      }
      
      p {
        font-size: 0.7em;
        margin-top: 3px;
        margin-left: 2px;
        color: #ff3f2b;
        font-weight: 500;
      }
    }
    
    button {
      @include button;
      width: 100%;
      border: none;
      margin-top: 5px;
      justify-content: space-between ;
      padding: 10px 15px;
      
      span {
        @include loading;
      }
    }
    
    button:hover {
      background-color: mediumblue;
    }
  }
  
  .anchor {
    @include anchor;
  }
  
  .buttons {
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    
    a {
      background-color: #cfcfcf;
      color: black;
      flex-basis: 50%;
      text-align: center;
      text-decoration: none;
      padding: 10px 15px;
      margin-top: 5px;
      border-radius: 10px;
      font-size: 0.8em;
    }
    
    button {
      flex-basis: 50%;
      justify-content: center;
      
      .loading {
        all: unset;
        @include loading;
      }
    }
  }
}

@keyframes spin {
  
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
  
}