@use "../../scss/styles";

.main {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  
  .form {
    @include styles.form;
  }
}

@media screen and (min-width: 768px) {
  
  .main {
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    header {
      width: 320px;
    }
  }
  
}