@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}
.main .form {
  background-color: #ebebeb;
  padding: 30px 20px;
  border-radius: 10px;
}
.main .form h2 {
  font-weight: 400;
  margin-bottom: 15px;
}
.main .form form {
  position: relative;
}
.main .form form div {
  height: 70px;
  position: relative;
  margin-bottom: 20px;
}
.main .form form div label {
  display: block;
  font-size: 0.8em;
  margin-bottom: 8px;
}
.main .form form div span {
  position: absolute;
  top: 50%;
  left: 8px;
  color: dimgray;
}
.main .form form div input {
  border: 1px solid gray;
  width: 100%;
  padding: 12px;
  padding-left: 32px;
  border-radius: 5px;
}
.main .form form div input:focus {
  outline: 2px solid blue;
}
.main .form form div .invalid {
  outline: 2px solid #ff604f;
  border: none;
}
.main .form form div p {
  font-size: 0.7em;
  margin-top: 3px;
  margin-left: 2px;
  color: #ff3f2b;
  font-weight: 500;
}
.main .form form button {
  display: inline-flex;
  align-items: center;
  background-color: royalblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  gap: 10px;
  transition: all 0.5s ease;
  width: 100%;
  border: none;
  margin-top: 5px;
  justify-content: space-between;
  padding: 10px 15px;
}
.main .form form button span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-top: 2px solid white;
  animation: spin 0.5s ease infinite;
}
.main .form form button:hover {
  background-color: mediumblue;
}
.main .form .anchor {
  text-align: center;
  font-size: 0.85em;
  margin-top: 7px;
}
.main .form .anchor a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
.main .form .anchor a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main header {
    width: 320px;
  }
}
