@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainSection {
  background-color: #ebebeb;
  padding: 30px 20px;
  margin: 15px 0px;
  border-radius: 10px;
}
.mainSection p {
  font-size: 1.2em;
}
.mainSection p a {
  text-decoration: none;
  color: blue;
}
.mainSection p a:hover {
  text-decoration: underline;
}
.mainSection .login {
  display: inline-flex;
  align-items: center;
  background-color: royalblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  gap: 10px;
  transition: all 0.5s ease;
  margin-top: 15px;
}
.mainSection .login:hover {
  background-color: darkblue;
}

.figure .finsMobile {
  display: block;
}
.figure .finsDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-areas: "header header" "main image";
    align-content: center;
    height: 100vh;
  }
  .main header {
    grid-area: header;
  }
  .main section {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .main section p {
    font-size: 2em;
  }
  .main figure {
    grid-area: image;
  }
  .main figure img {
    margin: 10px;
  }
  .figure .finsMobile {
    display: none;
  }
  .figure .finsDesktop {
    display: block;
  }
}
