@use "../../../../ui/styles";

.form {
  margin-top: 10px;
  @include styles.form;
  
  .avatarInput {
    img {
      border-radius: 5px;
    }
    
    input {
      display: none;
    }
    
    .avatarButton {
      all: unset;
      margin-left: 5px;
    }
  }
}