$lightgray: #ebebeb;

@mixin button {
  display: inline-flex;
  align-items: center;
  background-color: royalblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  gap: 10px;
  transition: all .5s ease;
}

@mixin link {
  text-decoration: none;
  color: blue;
  
  &:hover {
    text-decoration: underline;
  }
}

@mixin form {
  background-color: $lightgray;
  padding: 30px 20px;
  border-radius: 10px;
  
  h2 {
    font-weight: 400;
  }
  
  form {
    margin-top: 15px;
    position: relative;
    
    div {
      height: 70px;
      position: relative;
      margin-bottom: 15px;
      margin-top: 20px;
      
      label {
        display: block;
        font-size: 0.8em;
        margin-bottom: 8px;
      }
      
      span {
        position: absolute;
        top: 50%;
        left: 8px;
        color: dimgray;
      }
      
      input {
        border: 1px solid gray;
        width: 100%;
        padding: 12px;
        padding-left: 32px;
        border-radius: 5px;
      }
      
      input:focus {
        outline: 2px solid blue;
      }
      
      p {
        font-size: 0.7em;
        margin-top: 5px;
        margin-left: 2px;
        color: #ff3f2b;
        font-weight: 500;
      }
    }
    
    button {
      @include button;
      width: 100%;
      border: none;
      margin-top: 5px;
      justify-content: space-between ;
      padding: 10px 15px;
    }
    
    button:hover {
      background-color: mediumblue;
    }
  }
}